<div class="main-panel">
  <div class="content-wrapper1 p-0">
    <div class="container-fluid px-0 m-0 px-sm-4 py-5 mx-auto">
      <div class="d-flex justify-content-end pr-5">
        <button class="btn btn-primary float-right mr-5 bold" routerLink="/publication">+</button>
      </div>
      <div *ngFor="let publication of publications"
        class="row d-flex justify-content-start card-strip mx-5"
        style="width: 90% ;background-color: #fff;
        padding: 25px;
      margin-top: 20px;
        border-radius: 3px;
        box-shadow: 0px 8px 16px 0px #e0e0e0;"
      >
        <img class="comp-logo mr-5 mb-5" src="../../assets/faces/face1.jpg" />
        <div class="info">
          <div class="row px-3 mb-2">
            <h4 class="dark-text mr-4">{{ publication.nomPrenomDest }}</h4>
            <p class="mt-1 mr-4 extended-title">Colis {{ publication.numColis }}</p>
          </div>
          <div class="row px-3">
            <p>
              <span class="fa fa-clock-o">
                {{ publication.adresseDest }}
              </span>
            </p>
          </div>
          <div class="row px-3 mb-3">
            <span class="fa fa-star pr-1 mt-1 active"></span>
            <span class="fa fa-star pr-1 mt-1 active"></span>
            <span class="fa fa-star pr-1 mt-1 active"></span>
            <span class="fa fa-star pr-1 mt-1"></span>
            <span class="fa fa-star pr-1 mt-1 mr-2"></span>
            <span><strong></strong>{{ publication.telDest }}</span>
          </div>
          <div class="row px-3">
            <h6
              class="green-block"
              style="background-color: rgba(242, 174, 73, 0.789)"
            >
              {{ publication.libelleColis }}
            </h6>
          </div>
        </div>
        <div class="v-line ml-auto"></div>
        <div class="price">
          <i class="mdi mdi-delete-forever"></i>
          <p class="mb-0">Frais de livraison</p>
          <h4 class="blue-text mb-3">{{ publication.fraisLivraison }}dt</h4>
          <p class="mb-0">Prix de colis</p>
          <div class="row px-3">
            <h4 class="blue-text mr-2">{{ publication.prixColis }}dt</h4>
          </div>
          <div class="btn btn-primary mt-4" style="margin-right: 15px;" (click)="selectPublication(publication)">Modifier</div>
          <div id="del" class="btn btn-primary mt-4" (click)="deletePublication(publication.numColis)">Supprimer</div>
        </div>
      </div>
    </div>
    <!--Form starts here-->
      <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Création/Modification Du Colis</h4>
          <form class="form-sample" #f="ngForm" (submit)="createOrUpdatePublication(f)">
            <p class="card-description">
              Informations du destinataire
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Prénom&Nom</label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control" [(ngModel)]="selectedPublication.nomPrenomDest" name="nomPrenomDest" required/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label" >Tél</label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control" [(ngModel)]="selectedPublication.telDest" name="telDest" required/>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Email</label>
                  <div class="col-sm-12">
                    <input type="email" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            <!-- -->
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Destination</label>
                  <div class="col-sm-11">
                    <select class="form-control">
                      <option value="1">
                        Ariana        </option>
                        <option value="2">
                        Béja        </option>
                        <option value="3">
                        Ben Arous        </option>
                        <option value="4">
                        Bizerte        </option>
                        <option value="5">
                        Gabès        </option>
                        <option value="6">
                        Gafsa        </option>
                        <option value="7">
                        Jendouba        </option>
                        <option value="8">
                        Kairouan        </option>
                        <option value="9">
                        Kasserine        </option>
                        <option value="10">
                        Kebili        </option>
                        <option value="11">
                        Le Kef        </option>
                        <option value="12">
                        Mahdia        </option>
                        <option value="13">
                        Mannouba        </option>
                        <option value="14">
                        Medenine        </option>
                        <option value="15">
                        Monastir        </option>
                        <option value="16">
                        Nabeul        </option>
                        <option value="17">
                        Sfax        </option>
                        <option value="18">
                        Sidi Bouzid        </option>
                        <option value="19">
                        Siliana        </option>
                        <option value="20">
                        Sousse        </option>
                        <option value="21">
                        Tataouine        </option>
                        <option value="22">
                        Tozeur        </option>
                        <option value="23">
                        Tunis        </option>
                        <option value="24">
                        Zaghouan        </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Adresse</label>
                  <div class="col-sm-10">
                    <input class="form-control"  placeholder="Saisir l'adresse complète" [(ngModel)]="selectedPublication.adresseDest" name="adresseDest" required/>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <p class="card-description">
              Informations du Colis
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Prix total</label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control" [(ngModel)]="selectedPublication.prixColis" name="prixColis" required/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-9 col-form-label">Nombre de pièces</label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control" [(ngModel)]="selectedPublication.fraisLivraison" name="fraisLivraison" required/>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label" >Taille</label>
                  <div class="col-sm-11">
                    <select class="form-control" [(ngModel)]="selectedPublication.etat" name="etat">
                      <option value="legere" selected>
                        Légère        
                      </option>
                      <option value="moyenne">
                        Moyenne        
                      </option>
                      <option value="lourde">
                        Lourde     
                      </option>                             
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label" >Identifiant Unique</label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control"  pattern="[0-9]{4,}" placeholder="au moins 4 chiffres" [(ngModel)]="selectedPublication.numColis" minlength="4" name="numColis" required/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label" >Poids</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="en grammes" [(ngModel)]="selectedPublication.poids" name="poids" required/>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Référence</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" [(ngModel)]="selectedPublication.libelleColis" name="libelleColis" placeholder="max 10 lettres" maxlength="10" required/>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Publier ou Modifier</button>
          </form>
        </div>
      </div>
    </div>
    <!--Form ends here-->
  </div>
</div>
