<div class="main-panel">
  <div class="content-wrapper1 p-0">
    <div class="container-fluid px-0 m-0 px-sm-4 py-5 mx-auto">
      <div class="d-flex justify-content-end pr-5">
        <button class="btn btn-primary float-right mr-5 bold" routerLink="/ajouter-publication">+</button>
      </div>
      <div
        class="row d-flex justify-content-start card-strip mx-5"
        style="width: 90% ;background-color: #fff;
        padding: 25px;
      margin-top: 20px;
        border-radius: 3px;
        box-shadow: 0px 8px 16px 0px #e0e0e0;"
      >
        <img class="comp-logo mr-5 mb-5" src="../../assets/faces/face1.jpg" />
        <div class="info">
          <div class="row px-3 mb-2">
            <h4 class="dark-text mr-4">Oussama Mokni</h4>
            <p class="mt-1 mr-4 extended-title">Colis 7894</p>
          </div>
          <div class="row px-3">
            <p>
              <span class="fa fa-clock-o">
                12, Rue de Bousna, Mourouj 4, Ben Arous
              </span>
            </p>
          </div>
          <div class="row px-3 mb-3">
            <span class="fa fa-star pr-1 mt-1 active"></span>
            <span class="fa fa-star pr-1 mt-1 active"></span>
            <span class="fa fa-star pr-1 mt-1 active"></span>
            <span class="fa fa-star pr-1 mt-1"></span>
            <span class="fa fa-star pr-1 mt-1 mr-2"></span>
            <span><strong></strong>53705062</span>
          </div>
          <div class="row px-3">
            <h6
              class="green-block"
              style="background-color: rgba(242, 174, 73, 0.789)"
            >
              classic shoes model 701
            </h6>
          </div>
        </div>
        <div class="v-line ml-auto"></div>
        <div class="price">
          <i class="mdi mdi-delete-forever"></i>
          <p class="mb-0">Frais de livraison</p>
          <h4 class="blue-text mb-3">7dt</h4>
          <p class="mb-0">Prix de colis</p>
          <div class="row px-3">
            <h4 class="blue-text mr-2">119,00 dt</h4>
          </div>
          <div class="btn btn-primary mt-4" style="margin-right: 15px;" routerLink="/modif-pub">Modifier</div>
          <div class="btn btn-primary mt-4">Supprimer</div>
        </div>
      </div>
    </div>
  </div>
</div>
