<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Accueil</span>
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/publication">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Mes publications</span>
          </a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" routerLink="/ajouter-publication">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">Nouvelle Publication</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Mon Profil</span>
          </a>
  </ul>
</nav>