<div class="main-panel">
    <div class="content-wrapper1">

            <div class="container-fluid p-0">
                <h1 class="h3 mb-3">Paiement</h1>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                        </a>
        
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Clients</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Colis</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Garrett Winters</td>
                                            <td>123456789</td>
                                            <td>garrett@winters.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Ashton Cox</td>
                                            <td>123456789</td>
                                            <td>ashton@cox.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Sonya Frost</td>
                                            <td>123456789</td>
                                            <td>sonya@frost.com</td>
                                            <td><span class="badge bg-danger">Supprimer</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Jena Gaines</td>
                                            <td>123456789</td>
                                            <td>jena@gaines.com</td>
                                            <td><span class="badge bg-warning">Inpayé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Charde Marshall</td>
                                            <td>123456789</td>
                                            <td>charde@marshall.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Haley Kennedy</td>
                                            <td>123456789</td>
                                            <td>haley@kennedy.com</td>
                                            <td><span class="badge bg-danger">Supprimer</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Tatyana Fitzpatrick</td>
                                            <td>123456789</td>
                                            <td>tatyana@fitzpatrick.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Michael Silva</td>
                                            <td>123456789</td>
                                            <td>michael@silva.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Angelica Ramos</td>
                                            <td>123456789</td>
                                            <td>angelica@ramos.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Jennifer Chang</td>
                                            <td>123456789</td>
                                            <td>jennifer@chang.com</td>
                                            <td><span class="badge bg-warning">Inpayé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Brenden Wagner</td>
                                            <td>123456789</td>
                                            <td>brenden@wagner.com</td>
                                            <td><span class="badge bg-warning">Inpayé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Fiona Green</td>
                                            <td>123456789</td>
                                            <td>fiona@green.com</td>
                                            <td><span class="badge bg-warning">Inpayé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Prescott Bartlett</td>
                                            <td>123456789</td>
                                            <td>prescott@bartlett.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Gavin Cortez</td>
                                            <td>123456789</td>
                                            <td>gavin@cortez.com</td>
                                            <td><span class="badge bg-success">payé</span></td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
                                            <td>Howard Hatfield</td>
                                            <td>123456789S</td>
                                            <td>howard@hatfield.com</td>
                                            <td><span class="badge bg-warning">Inpayé</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        
                   
                </div>
        
            </div>
        
    </div>
  </div>